html, body, main {
  height: 100%;
}

main {
  display: flex;
}

#onLoadingPage {
  text-align: center;
  margin: auto;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.8);
  border-radius: 6px;
}


@media(prefers-color-scheme: dark) {
  #onLoadingPage {
    color: azure;
  }
  body {
    background-color: rgb(39, 40, 34);
  }
  *::-webkit-scrollbar-thumb {
    background: rgba(180, 180, 180, 0.2);
  }
}